.footer{
    background: lightgrey;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px;
    text-align: center;
    color: black;
    margin-top: auto;
    padding: 8px;
}
body {
  background-color: #eef8ff;
    padding: 0;
  }
  
  .App {
    font-family: sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
 
 
#compName{
    font-size: 30px;
    color: white;
    font-weight: bold;
}

#compLocation{
    font-size: 20px;
    color: white;
    font-weight: bold;
}

#footerContactUs{
    font-size: 20px;
    color: white;
    font-weight: bold;
}   

#footerContactUs:hover{
    color: blue;
    text-decoration: none;
}
 