.slideShowContainer {
  width: 500px;
  height: 400px;
  overflow: hidden;
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
}

.errorImageContainer {
  margin-top: 30px;
}

.errorTitle {
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}
