body {
  font-family: Arial, sans-serif;
}

.container {
  margin: 0 auto;
}

.centered-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.centered-text p {
  font-size: 24px;
  line-height: 1.5;
  max-width: 80%;
  margin: 0 auto;
  color: #2c3e50;
}

.data-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
}

.data-box {
  flex-basis: calc(25% - 20px);
  margin: 10px;
  background-color: #f2f2f2;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

.data-box p {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

.data-box span {
  font-size: 24px;
  font-weight: bold;
}

.flash {
  animation: flash 1s;
  animation-timing-function: linear;
}

@keyframes flash {
  0%, 100% {
    background-color: #f2f2f2;
  }
  50% {
    background-color: #a0d468;
  }
}

.buttonForm {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.button {
  background-color: #38accf;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 20%;
  font-size: large;
  margin: 25px 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 5px;
}

.button:hover {
  opacity: 0.8;
}

#dataButton {
  background-color: #38accf;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#dataButton.off {
  background-color: green;
}

#dataButton.on {
  background-color: red;
}

#dataButton:hover {
  opacity: 0.8;
}

