.container {
    margin: 0;
  }
  
  .dateLabel {
    margin-bottom: 20px;
  }
  
  .gridContainer {
    margin-top: 20px;
  }
  
  .infoCard {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .cardTitle {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .cardValue {
    font-weight: bold;
  }
  .dateCard {
    margin-bottom: 20px;
    height: 60px;
    background: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  body {
    margin: 0;
    padding: 0;
  }
