.navbar{
    height: 80px;
    width: 100%;
    background-color: #1465c2;
    margin: 0;
}

.navbar img{
    height: 75px;
    width: 100px;
    margin-left: 40px;
}

.links{
    margin: 27.5px 0px;
    padding: 0 15px;
    float:right;
    font-size: 18px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
